body {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0;
    padding: 0;
    font-family: 'Rufina', serif;
    overflow-x: hidden;
}

/* Header */

.Header_Menu {
    height: 690px;
    background-image: url(./img/HeaderImg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.Navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.First {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Logo {
    width: 307px;
    height: 115px;
    margin-right: 50px;
}

/*open menu*/

.menu-open {
    position: relative;
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.menu-open span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

.menu-open span:nth-child(1) {
    top: 0;
    transform: rotate(0);
}

.menu-open span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.menu-open span:nth-child(3) {
    bottom: 0;
    transform: rotate(0);
}

.menu-open.open span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
}

.menu-open.open span:nth-child(2) {
    opacity: 0;
}

.menu-open.open span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
}

/*  */

.SideMenu_Menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 280px;
    height: 100%;
    background-color: #4d4d4d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 500;
}

.SideMenu_Menu.open {
    right: 0;
}

.SideMenu_Menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.SideMenu_Menu li {
    margin: 20px 0;
}

.SideMenu_Menu a:nth-child(2) li a {
    color: #9caa00;
}

.SideMenu_Menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.SideMenu_Menu a:hover {
    color: #9caa00;
}

/*open menu*/

.Number {
    color: white;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 25px;

}

.Reservations {
    color: white;
    font-weight: 950px;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Rufina', serif;
}

.Headline_Hero_Text {
    margin-left: 450px;
    margin-top: 110px;
}

.Headline_Hero_Text h1{
    color: white;
    font-size: 90px;
    font-weight: 520;
    margin-bottom: 20px;
}

.Headline_Hero_Text p{
    color: white;
    font-size: 22px;
}

/* Header */

/* Starters */

.Blueberry {
    position: absolute;
    left: 70%; 
    bottom: 7%;
    transform: translateX(-50%); 
    z-index: -1;
    width: 400px;
    height: auto;
}


.Text_Starters {
    display: grid;
    align-items: center;
    justify-items: center; 
    padding-bottom: 60px;
}

.Text_Starters h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.Text_Starters p {
    margin-top: 0; 
    color: #b0b0b0;
    font-weight: bold;
}

.Price_Starters_Items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    gap: 15px;
}

.Price_Starters_Items img {
    width: 500px;
    height: auto;
}

/* Mains */

.Mains {
    margin-top: 70px;
}

.Text_Mains {
    display: grid;
    align-items: center;
    justify-items: center; 
    padding-bottom: 60px;
}

.Text_Mains h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.Text_Mains p {
    margin-top: 0; 
    color: #b0b0b0;
    font-weight: bold;
}

.Price_Mains_Items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    gap: 15px;
}

.Price_Mains_Items img {
    width: 500px;
    height: auto;
}

/* Pastries_Drinks */

.Pastries_Drinks {
    margin-top: 70px;
}

.Avocado {
    position: absolute;
    right: 30%;
    top: 225%;
    transform: translateX(-50%); 
    z-index: -1;
    width: 400px;
    height: auto;
}

.Text_Pastries_Drinks {
    display: grid;
    align-items: center;
    justify-items: center; 
    padding-bottom: 60px;
}

.Text_Pastries_Drinks h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.Text_Pastries_Drinks p {
    margin-top: 0; 
    color: #b0b0b0;
    font-weight: bold;
}

.Price_Pastries_Drinks_Items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    gap: 15px;
}

.Price_Pastries_Drinks_Items img {
    width: 500px;
    height: auto;
}

/* Menu item fo all */

.Menu_Item {
    margin-bottom: 60px;
}

.Menu_Item span {
    font-size: 25px;
}

.menu_Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Menu_Header h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.Menu_Header {
  font-size: 18px;
  font-weight: bold;
}

.Menu_Item p {
  margin: 5px 0 15px;
  font-size: 14px;
  color: #555;
}

.Menu_Item hr {
  border: none;
  border-top: 1px dashed black;
  margin: 10px 0;
}

/* Reservation Form */

.Reservation_Form {
    background-color: #ebf0e4;
    margin-top: 160px;
    padding: 40px;
    display: grid;
    gap: 20px;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 150px;
    padding-top: 40px;
}

.Text_Form_Menu {
    display: grid;
    gap: 10px;
    justify-items: center;
    margin-bottom: 20px;
}

.Text_Form_Menu h1 {
    font-size: 70px;
}

.Text_Form_Menu p {
    font-size: 20px;
    color: gray;
    position: absolute;
    margin-top: 130px;

}

.Form_Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    z-index: 1;
}

.Form_Menu select, .Form_Menu input {
    width: 100%;
    padding: 12px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
    font-family: 'Rufina', serif;
    box-sizing: border-box;
}

.Time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.Time select, .Time input {
    width: 200px;
}

.Guests_Menu select {
    width: 180px;
    height: 48px;
}

.Submit_Btn_Menu {
    margin-top: 50px;
    width: 250px;
    color: white;
    background-color: #233000;
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rufina', serif;
    cursor: pointer;
}

/* Footer */

footer{
    background-color: #233000;
    padding-top: 50px;
}

.footer h1 {
    color: white;
}

.footer h2 {
    color: white;
}

.footer p {
    color: white;
}

footer h1 {
    font-size: 40px;
}

footer input {
    padding: 15px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    font-family: 'Rufina', serif;
}

footer button {
    color: white;
    background-color: #5e6600;
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rufina', serif;
    cursor: pointer;
    margin-left: 15px;
}

.Text_Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.Footer_Number {
    margin-top: 50px;
    margin-bottom: 30px;
}

.Subscribe p {
    font-size: 13px;
}

.footer hr {
    border: none;
    border-top: 1px dashed white;
    margin-top: 70px;
}

.Contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Contacts img {
    width: 150px;
    height: auto;
}

@media (max-height: 1024px) {
    .Avocado {
        position: absolute;
        right: 30%;
        top: 235%;
        transform: translateX(-50%); 
        z-index: -1;
        width: 400px;
        height: auto;
    }
}

@media (max-height: 881px) {
    .Blueberry {
        position: absolute;
        left: 70%; 
        bottom: -10%;
        transform: translateX(-50%); 
        z-index: -1;
        width: 400px;
        height: auto;
    }

    .Avocado {
        position: absolute;
        right: 30%;
        top: 275%;
        transform: translateX(-50%); 
        z-index: -1;
        width: 400px;
        height: auto;
    }
}

@media (max-height: 700px) {
    .Blueberry {
        position: absolute;
        left: 70%; 
        bottom: -42%;
        transform: translateX(-50%); 
        z-index: -1;
        width: 400px;
        height: auto;
    }

    .Avocado {
        position: absolute;
        right: 30%;
        top: 345%;
        transform: translateX(-50%); 
        z-index: -1;
        width: 400px;
        height: auto;
    }
}

@media (max-width: 1288px) {
    .Subscribe {
        display: none;
    }
}