body {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0;
    padding: 0;
    font-family: 'Rufina', serif;
    overflow-x: hidden;
}

/* Header */

.Header_Partfolio_Grids {
    height: 690px;
    background-image: url(../../../assets/portfolio/portfolio_grids/HeaderImg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.Navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.First {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Logo {
    width: 307px;
    height: 115px;
    margin-right: 50px;
}

/*open menu*/

.menu-open {
    position: relative;
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.menu-open span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

.menu-open span:nth-child(1) {
    top: 0;
    transform: rotate(0);
}

.menu-open span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.menu-open span:nth-child(3) {
    bottom: 0;
    transform: rotate(0);
}

.menu-open.open span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
}

.menu-open.open span:nth-child(2) {
    opacity: 0;
}

.menu-open.open span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
}

/*  */

.SideMenu_Partfolio_Grids {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(35, 48, 0, 0.8), rgba(35, 48, 0, 0.7)), url(../../../assets/menu_open/Menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 500;
}

.SideMenu_Partfolio_Grids a:nth-child(1) li a, 
.SideMenu_Partfolio_Grids a:nth-child(2) li a,
.SideMenu_Partfolio_Grids a:nth-child(3) li a,
.SideMenu_Partfolio_Grids a:nth-child(4) li a{
    font-size: 26px;
    font-weight: 600;
}

.Contact_Open_Menu {
    padding-top: 16%;
}

.Contact_Open_Menu h6{
    font-size: 30px;
    margin: 0;
}

.Contact_Open_Menu hr {
    border: none;
    border-top: 2px dashed white;
}

.Contact_Open_Menu_First {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Contact_Open_Menu_First p {
    font-size: 20px;
}

.Contact_Open_Menu_Second p {
    font-size: 20px;
}

.Contact_Open_Menu img {
    width: 200px;
    height: auto;
    padding-top: 20px;
}

.SideMenu_Partfolio_Grids.open {
    right: 0;
}

.SideMenu_Partfolio_Grids ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.SideMenu_Partfolio_Grids li {
    margin: 20px 0;
    margin-left: 20px;
}

.SideMenu_Partfolio_Grids h1 {
    margin-left: 20px;
    padding-top: 12px;
}

.SideMenu_Partfolio_Grids a:nth-child(6) li a {
    color: #9caa00;
}

.SideMenu_Partfolio_Grids a:nth-child(6) li a,
.SideMenu_Partfolio_Grids a:nth-child(7) li a,
.SideMenu_Partfolio_Grids a:nth-child(9) li a,
.SideMenu_Partfolio_Grids a:nth-child(10) li a,
.SideMenu_Partfolio_Grids a:nth-child(12) li a,
.SideMenu_Partfolio_Grids a:nth-child(13) li a { 
    padding-left: 20px;
}

.SideMenu_Partfolio_Grids a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.SideMenu_Partfolio_Grids a:hover {
    color: #9caa00;
}

/*open menu*/

.Number {
    color: white;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 25px;

}

.Reservations {
    color: white;
    font-weight: 950px;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Rufina', serif;
}

.Headline_Hero_Text_Partfolio_Grids {
    text-align: center;
}

.Headline_Hero_Text_Partfolio_Grids h1{
    color: white;
    font-size: 90px;
    font-weight: 520;
    padding-top: 70px;
}

.Scroll_Partfolio_Grids {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Scroll_Partfolio_Grids h5 {
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    font-size: 30px;
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: 500px;
    padding-top: 40px;
}

.Scroll_Partfolio_Grids .dashed-line {
    width: 2px;
    height: 126px;
    border: none;
    border-left: 2px dashed white;
}

/* Header */

/* Filters Portfolio Grids */

.Filters_Portfolio_Grids {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 25px;
}

.Filters_Portfolio_Grids a {
    font-size: 23px;
    text-decoration: none;
    color: black;   
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}

.Filters_Portfolio_Grids a:nth-child(3) {
    text-decoration: none;
    border-bottom: 2px dotted black;
    padding-left: 0;
    padding-right: 0;
}

/* Portfolio Grids Items */

.Portfolio_Grids_Items {
    gap: 20px;
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Feature_Portfolio_Grids {
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.Feature_Portfolio_Grids img {
    width: 100%;
    height: auto;
    display: block;
}

.Feature_Portfolio_Grids_Text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    padding-top: 30px;
}

.Feature_Portfolio_Grids_Text h1 {
    font-size: 40px;
    margin: 0 0 10px;
}

.Partfolio_Cata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.Partfolio_Cata p {
    margin: 0;
    font-size: 18px;
    padding-bottom: 25px;
    padding-top: 8px;
}

.Partfolio_Cata img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

.First_Portfolio_Grids_Items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Second_Portfolio_Grids_Items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Third_Portfolio_Grids_Items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

/* Pagination */

.Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pagination_Items {
    margin-bottom: 115px;
}

.Pagination_Items button {
    color: black;
    font-weight: 950px;
    background-color: transparent;
    border: 2px solid black;
    padding: 6px 11px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Rufina', serif; 
}

/* Footer */

footer{
    background-color: #233000;
    padding-top: 50px;
}

.footer h1 {
    color: white;
}

.footer h2 {
    color: white;
}

.footer p {
    color: white;
}

footer h1 {
    font-size: 40px;
}

footer input {
    padding: 15px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    font-family: 'Rufina', serif;
}

footer button {
    color: white;
    background-color: #5e6600;
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rufina', serif;
    cursor: pointer;
    margin-left: 15px;
}

.Text_Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.Footer_Number {
    margin-top: 50px;
    margin-bottom: 30px;
}

.Subscribe p {
    font-size: 13px;
}

.footer hr {
    border: none;
    border-top: 1px dashed white;
    margin-top: 70px;
}

.Contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Contacts img {
    width: 150px;
    height: auto;
}

@media (max-width: 1288px) {
    .Subscribe {
        display: none;
    }
}