body {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0;
    padding: 0;
    font-family: 'Rufina', serif;
    overflow-x: hidden;
}

/* Header */

.Header_Blog_Two {
    height: 690px;
    background-image: url(../../../assets/blogs/blogs_two_columns/Header.png); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.Navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.First {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Logo {
    width: 307px;
    height: 115px;
    margin-right: 50px;
}

/*open menu*/

.menu-open {
    position: relative;
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.menu-open span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

.menu-open span:nth-child(1) {
    top: 0;
    transform: rotate(0);
}

.menu-open span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.menu-open span:nth-child(3) {
    bottom: 0;
    transform: rotate(0);
}

.menu-open.open span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
}

.menu-open.open span:nth-child(2) {
    opacity: 0;
}

.menu-open.open span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
}

/*  */

.SideMenu_Blog_Two {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(35, 48, 0, 0.8), rgba(35, 48, 0, 0.7)), url(../../../assets/menu_open/Menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 500;
}

.SideMenu_Blog_Two a:nth-child(1) li a, 
.SideMenu_Blog_Two a:nth-child(2) li a,
.SideMenu_Blog_Two a:nth-child(3) li a,
.SideMenu_Blog_Two a:nth-child(4) li a{
    font-size: 26px;
    font-weight: 600;
}

.Contact_Open_Menu {
    padding-top: 16%;
}

.Contact_Open_Menu h6{
    font-size: 30px;
    margin: 0;
}

.Contact_Open_Menu hr {
    border: none;
    border-top: 2px dashed white;
}

.Contact_Open_Menu_First {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Contact_Open_Menu_First p {
    font-size: 20px;
}

.Contact_Open_Menu_Second p {
    font-size: 20px;
}

.Contact_Open_Menu img {
    width: 200px;
    height: auto;
    padding-top: 20px;
}

.SideMenu_Blog_Two.open {
    right: 0;
}

.SideMenu_Blog_Two ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.SideMenu_Blog_Two li {
    margin: 20px 0;
    margin-left: 20px;
}

.SideMenu_Blog_Two h1 {
    margin-left: 20px;
    padding-top: 12px;
}

.SideMenu_Blog_Two a:nth-child(9) li a {
    color: #9caa00;
}

.SideMenu_Blog_Two a:nth-child(6) li a,
.SideMenu_Blog_Two a:nth-child(7) li a,
.SideMenu_Blog_Two a:nth-child(9) li a,
.SideMenu_Blog_Two a:nth-child(10) li a,
.SideMenu_Blog_Two a:nth-child(12) li a,
.SideMenu_Blog_Two a:nth-child(13) li a { 
    padding-left: 20px;
}

.SideMenu_Blog_Two a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.SideMenu_Blog_Two a:hover {
    color: #9caa00;
}

/*open menu*/

.Number {
    color: white;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 25px;

}

.Reservations {
    color: white;
    font-weight: 950px;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Rufina', serif;
}

.Headline_Hero_Text_Blog_Two {
    text-align: center;
    margin-top: 120px;
}

.Headline_Hero_Text_Blog_Two h1{
    color: white;
    font-size: 90px;
    font-weight: 520;
    margin-bottom: 20px;
}

.Headline_Hero_Text_Blog_Two p{
    color: white;
    font-size: 22px;
}

/* Header */

/* Text Blog Two Columns */

.Text_Blog_Two_Columns {
    font-size: 22px;
    padding-left: 10%;
    margin-top: 100px;
}

.Text_Blog_Two_Columns p {
    color: #b0b0b0;
}

.Text_Blog_Two_Columns span {
    color: black;
}

/* Recent Post Blog Two Columns */

.Recent_Post_Blog_Two_Columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    position: relative;
    z-index: 0;
}

.Foto_Blog_Two_Columns {
    position: relative;
    width: 600px;
    height: auto;
}

.Foto_Blog_Two_Columns img {
    width: 100%;
    height: auto;
    z-index: 0;
}

.Foto_Blog_Two_Columns button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 150px;
    color: white;
    background-color: #5e6600;
    border: 0px solid black;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rufina', serif;
    cursor: pointer;
    text-align: center;
}

.Review_Two_Columns {
    margin-left: 15px;
}

.User_Two_Columns {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 30px;
}

.User_Two_Columns img {
    width: 60px;
    height: auto;
}

.User_Two_Columns a {
    text-decoration: none;
    color: #5e6600;
    font-weight: 600;
}

.Text_Review_Two_Columns h1 {
    font-size: 50px;
}

.Text_Review_Two_Columns p {
    font-size: 20px;
    color: #4d4d4d;
}

.Text_Review_Two_Columns hr {
    border: none;
    border-top: 3px dotted black;
}

.Text_Review_Two_Columns a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.Text_Review_Two_Columns img {
    width: 32px;
    height: auto;
    padding-top: 10px;
}

.Recent_Post_Blog_Two_Columns_Last {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    position: relative;
    z-index: 0;
    margin-bottom: 100px;
}

.Recent_Post_Blog_Two_Columns_First {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
    z-index: 0;
}

/* Pagination */

.Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pagination_Items {
    margin-bottom: 115px;
}

.Pagination_Items button {
    color: black;
    font-weight: 950px;
    background-color: transparent;
    border: 2px solid black;
    padding: 6px 11px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Rufina', serif;
    margin: 0 15px;  
}

/* Footer */

footer{
    background-color: #233000;
    padding-top: 50px;
}

.footer h1 {
    color: white;
}

.footer h2 {
    color: white;
}

.footer p {
    color: white;
}

footer h1 {
    font-size: 40px;
}

footer input {
    padding: 15px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    font-family: 'Rufina', serif;
}

footer button {
    color: white;
    background-color: #5e6600;
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rufina', serif;
    cursor: pointer;
    margin-left: 15px;
}

.Text_Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.Footer_Number {
    margin-top: 50px;
    margin-bottom: 30px;
}

.Subscribe p {
    font-size: 13px;
}

.footer hr {
    border: none;
    border-top: 1px dashed white;
    margin-top: 70px;
}

.Contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Contacts img {
    width: 150px;
    height: auto;
}

@media (max-width: 1288px) {
    .Subscribe {
        display: none;
    }
}